<h1 class="h1">About us</h1>
<p></p>
<h2>We are the fastest news you will ever know</h2>
<p></p>
<p></p>
<p>Our history dates from 2024, when the most intelligent studient in history of Universidad de los Andes decided to use 1% of his skills,</p>
<p>yes, im talking about Tomas Arratia. He challenged himself to make the fastest news on the planet earth (for now) and create us.</p>
